.range-slider-container {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.range-slider-header {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.slider-root {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-track {
  position: relative;
  flex-grow: 1;
  background-color: #dfe2ee;
  height: 3px;
  border-radius: 9999px;
}

.slider-range {
  position: absolute;
  background-color: #3a4570;
  height: 100%;
}

.slider-thumb {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  box-shadow: 0 2px 5px 0 #e3e5ec;
  border-radius: 9999px;
}

.slider-thumb:after {
  position: absolute;
  top: 1.5rem;
  content: attr(aria-valuenow);
  font-size: 0.8rem;
}

.slider-thumb[aria-label='Minimum']:after {
  left: 0;
}

.slider-thumb[aria-label='Maximum']:after {
  right: 0;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9rem;
}

.range-slider-container .ais-RangeInput {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.range-slider-container .ais-RangeInput-input {
  width: 150px;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.range-slider-container .ais-RangeInput-separator {
  margin: 0 0.5rem;
}

.range-slider-container .ais-RangeInput-submit {
  display: none;
}
